<h1><%= @restaurant.name %></h1>
<p><%= (@restaurant.category).capitalize %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<h2>Reviews</h2>
<h3>Add your review</h3>
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit 'Submit review' %>
  <%= f.button :button, 'Reset', type: :reset, class: 'btn btn-none' %>
<% end %>
<br>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> <%= review.rating %> stars</li>
  <% end %>
</ul>

<%= link_to "Back", restaurants_path, class: "btn btn-primary" %>
